#about{
    height: auto;
    margin-top: 3rem;
}
.experience{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    
}

.content_p{
    padding-top: 1rem;
    line-height: 1.5rem;
    white-space: pre-wrap;
    word-break: break-word;
    
    
}
.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
h2,h5{
    width: 100%;
    text-align: center;
}
.about__me{
    place-items: center;
    border-radius: 2rem;
    
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}
.about__me-image:hover{
    transform: rotate(0deg);
}
.about__cards{
    display: flex; /* Switch to flexbox layout */
    flex-wrap: nowrap; /* Allows items to wrap to the next line */
    gap: 2rem; /* Maintains space between items */
    align-items: center; /* Aligns items to the top of the container */

}
.about__card{
    
    
    background: #1560bd;
    border: 1px solid rgb(34, 54, 235);
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: var(--transition);
    -webkit-box-shadow: inset 0px 0px 54px -1px rgba(0,0,0,0.63);
-moz-box-shadow: inset 0px 0px 54px -1px rgba(0,0,0,0.63);
box-shadow: inset 0px 0px 54px -1px rgba(0,0,0,0.63);
}
.about__card:hover{
    background: transparent;
    border-color: rgb(85, 100, 231);
    cursor: default;
}
.about__me__p{
    padding: 2rem;
    text-indent: 2rem;
}


@media screen and (max-width:1024px){
    .about__container{
        display: flex;
        flex-direction: column;
    }

    .about__me-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .about__cards{
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        margin-bottom: 4rem;
        }
}

@media screen and (max-width:600px){
    .about__container{
        display: flex;
        flex-direction: column;
    }
    .about__cards{
        display: flex;
        flex-direction: column;
        margin: 3rem 1rem 1rem 1rem;

    }
    .lets__talk{
        display: flex;
        justify-content: center;
    }
    .btn{
        width: 100px;
    }


}