nav{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    bottom: 2rem;
    gap: 2rem;
    border-radius: 2rem;
    backdrop-filter: blur(15px);
}
nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    
}
nav a:hover{
    background-color: rgba(27, 27, 27, 0.4);
    cursor: pointer;
}
.active{
    background-color:rgba(27, 27, 27, 0.4);
    color:var(--color-light)
}

/* MEDIA QUERIES SMALL DEVICES*/
@media screen and (max-width:600px){
    nav a{
        font-size: 0.7rem;
        padding: 0.3rem;
    }
    nav{
        gap: 1px;
        
    }
    nav a:hover{
        background-color: transparent;
       
    }
}